.col-md-8
  %h1
    = question.title
  .question-vote-area
    = render 'votables/votable', votable: question
  .question_body
    = question.body
  .subscribe-area
    .subscribe-result
    - if can? :subscribe_on, question
      = link_to 'Subscribe for updates', question_subscriptions_path(question), method: :post, remote: true, data: { type: :json }, class: 'subscribe-link'

  = render 'attachments/attachments', attachable: question

  - if can? :update, question
    = link_to 'Edit', '', class: 'edit-question-link'
  - if can? :destroy, question
    = link_to 'Delete', question, method: :delete, data: { confirm: "Are you sure?" }

    %p
      = form_for question, remote: true, html: {id: 'edit-question-form'} do |f|
        .question-errors
        = f.label :title, 'Title'
        = f.text_field :title
        %br
        = f.label :body, 'Body'
        = f.text_area :body
        = f.submit 'Save'
