.row
  .col-md-8
    .all_questions
      %h1 All Questions
.row
  .col-md-8
    #questions-count
      - if @questions.empty?
        %p Currently no questions yet
      -else
        %p= "#{pluralize(@questions.count,'Question')}"
    %table.table.table-striped.questions-table
      - if @questions.count > 0
        = render @questions

.row
  %p= link_to 'Ask question', new_question_path

= subscribe_to '/questions'
