.row
  .col-md-8
    %h1
      = @question.title
    .question_body
      = @question.body
.row
  - if author_of?(@question)
    = link_to 'Delete', @question, method: :delete, data: { confirm: "Are you sure?" }
.row
  .col-md-8
    .answers
      - if @question.answers.empty?
        %p Currently no answers yet
      - else
        = "#{pluralize(@question.answers.count,'Answer')}"

      %table.table.table-striped.answers-table
        - unless @question.answers.empty?
          = render @question.answers
- if user_signed_in?
  .row
    .col-md-8
      %h2 Post your answer
      = form_for [@question, Answer.new], remote: true do |f|
        .col-md-8
          = f.label :body
          = f.text_area :body, cols: 92, rows: 15, id: 'answer_body', class: 'form-control'
          %br
          = f.submit 'Post Your Answer', class: 'pull-right'

