.row.question-area
  = render 'question_show', question: @question
.row
  .col-md-8
    .answers
      = render 'answers/answer_list'

- if user_signed_in?
  .row
    .col-md-8
      = render 'answers/new_answer_form'

- content_for :javascript
= subscribe_to "/questions/#{@question.id}/answers"


