- if answer.persisted?
  - cache answer do
    .row.answer-area{ id: "answer-#{answer.id}", class: (answer.best? ? 'best-answer' : nil)  }
      .col-md-1
        .answer-vote-area
          = render 'votables/votable', votable: answer
      .col-md-7
        .answer_body
          = answer.body
        = render 'attachments/attachments', attachable: answer

        .answer_links
          - if can? :set_best, answer
            = link_to  (answer.best? ? 'Revert' : 'Make the Best'), set_best_answer_path(answer), method: :patch, remote: true, class: 'set-the-best-answer-link'

          - if can? :update, answer
            = link_to 'Edit', '', class: 'edit-answer-link', data: { answer_id: answer.id }

          - if can? :destroy, answer
            = link_to 'Delete', answer, method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: 'delete-answer-link'
            %p
              = form_for answer, remote: true, html: { id: "edit-answer-#{answer.id}" } do |f|
                = f.label :body, 'Answer'
                = f.text_area :body
                = f.submit 'Save'

    .row.answer-comments-row{ id: "answer-#{answer.id}-comments-row"}
      .col-md-1
      .col-md-7
        = render 'comments/comments', commentable: answer

  = subscribe_to "/answers/#{answer.id}/comments"