%div{ id: "answer-#{answer.id}" }
  %table{ class: (answer.best? ? 'best-answer' : nil) }
    %tr
      %td
        .answer_body
          = answer.body
      %td
        .answer_links
          - if author_of?(@question)
            %p= link_to  (answer.best? ? 'Revert' : 'Make the Best'), set_best_answer_path(answer), method: :patch, remote: true
          - if author_of?(answer)
            %p= link_to 'Edit', '', class: 'edit-answer-link', data: { answer_id: answer.id }
            %p= link_to 'Delete', answer, method: :delete, data: { confirm: "Are you sure?" }, remote: true
            %p
              = form_for answer, remote: true, html: { id: "edit-answer-#{answer.id}" } do |f|
                = f.label :body, 'Answer'
                = f.text_area :body
                = f.submit 'Save'