%h2 Post your answer
= form_for [@question, @answer], remote: true do |f|
  .col-md-8
    = f.label :body, 'Your answer', for: 'new-answer-body'
    .answer-errors
    = f.text_area :body, cols: 92, rows: 15, id: 'new-answer-body', class: 'form-control'
    %br
    = render partial: 'attachments/form', locals: { f: f }
    = f.submit 'Post Your Answer', class: 'pull-right'