.row
  .col-md-8
    %h1
      = @question.title
    .question_body
      = @question.body
.row
  .col-md-8
    - if flash[:notice]
      .error
        = flash[:notice]
.row
  - if current_user == @question.author
    = link_to 'Delete', @question, method: :delete, data: { confirm: "Are you sure?" }
.row
  .col-md-8
    - if @answers.empty?
      %p Currently no answers yet
    - else
      = "#{pluralize(@answers.count,'Answer')}"
      %table.table.table-striped
        - @answers.each do |a|
          %tr
            %td
              .answer_body
                = a.body
            %td
              - if current_user == a.author
                = link_to 'Delete Answer', a, method: :delete, data: { confirm: "Are you sure?" }
.row
  .col-md-8
    %h2 Post your answer
    = form_tag  do
      .col-md-8
        = label :answer, :body
        = text_area :answer, 'body', cols: 92, rows: 15, id: 'answer_body', class: 'form-control'
        %br
        = submit_tag 'Post Your Answer', class: 'pull-right'

