!!!
%html
  %head
    %title Qna
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .user-nav
      - if user_signed_in?
        = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        = link_to('Login', new_user_session_path)
        = link_to('Register', new_user_registration_path)

    .container
      %p.notice= notice
      %p.alert= alert

      = yield

    / Bootstrap core JavaScript
    / ==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
